

<%=content_for :main do%>

<div id="about" class="yui3-g">

	<div class="yui3-u left">
		<div class="content">
				<img src="/images/Grundyposter3.jpg" alt="Guy Grundy - He's More Than a Fighter"/>
		</div>
	</div>
	
	<div class="yui3-u">
		<div class="content">
		
			<h2>GUY GRUNDY</h2>
			<p>After retiring from professional bodybuilding 4 years ago, Grundy has been well known as a Professional street fighter and Action Hero Actor.</p>
			<p>Grundy's acting career took off after he starred in Spike TV's <span>The Deadliest Warrior</span> where he was cast as the Hero Gladiator!</p>
			<p>Since 2008 Grundy has been a special guest on television shows such as <span>BBC</span>, <span>NBC</span>, the <span>Oprah</span> show and has featured in <span>Louis Theroux's Weird Weekends</span> and <span>CSI</span> along with National commercials such as <span>Pepsi</span>, <span>Foster's Beer</span>, <span>Verizon</span> and <span>AT&amp;T</span>.</p>
			<p>Grundy has featured in Motion pictures including <span>Starsky &amp; Hutch</span>, <span>Shutter Island</span> and a film in the making as one of the main characters in <span>The Lackey</span>.</p>
			
		</div>
	</div>
		
</div>

<%end%>
