<div id="author">
	<h2>About Grundy</h2>
	<img src="http://www.gravatar.com/avatar/a8c60065934fe61eeacc02ca917320dd?s=150" />
	<span>
		Born in Penrith, NSW, Australia, near Sydney, Grundy has placed first in the Mr. Australia championships twice and placed 2nd in the Mr. World competition twice: in 1999 and 2001. As a professional bodybuilder he was photographed regularly for major muscle and fitness magazines. He has also written articles for magazines such as MuscleMag. Since retiring from professional bodybuilding Grundy has appeared as an actor in films, advertisements and television shows.
	</span>
</div>
