<div class="soc">
	<%#
	<!-- Place this tag in your head or just before your close body tag -->
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
	<!-- Place this tag where you want the +1 button to render -->
	%>
	<g:plusone size="medium" count="false"></g:plusone>
</div>
