
<%=content_for :main do%>

<div id="contact">
	<h2>Contact</h2>
	
	<div>
		<a href="mailto:guy@guygrundy.com">guy@guygrundy.com</a><br/>
		<a href="mailto:admin@guygrundy.com">admin@guygrundy.com</a>
	</div>
</div>

<%end%>
