
<%=content_for :main do%>

<div id="contact">

	<p>
		You can contact me for training, or anything else, via the following links:
	</p>
	
	<a href="https://www.facebook.com/profile.php?id=833653760">
		<img src="/images/icons/facebook.png" alt="Guy Grundy on Facebook" /></a>
	
	<a href="http://www.twitter.com/guy_grundy" target="_blank">
		<img src="/images/icons/twitter.png" alt="Guy Grundy on Twitter" /></a>
	
	<a href="mailto:guy@guygrundy.com">
		<img src="/images/icons/email.png" alt="Email Guy Grundy" style="width:66px; height:66px; margin:2px;" /></a>
</div>

<%end%>
