
<%=content_for :main do%>
<div id="reel">
	<div class="reel">
		<span>Acting Reel</span>

		<a href="http://www.youtube.com/watch?v=roB9lws8u18" target="_blank">Acting Reel</a>
	</div>
	
	<div class="reel">
		<span>Commercials</span>

		<a href="http://www.youtube.com/watch?v=wZnT1q5eKI8" target="_blank">Foster's Beer Free Agent (National)</a>
		
		<a href="http://www.youtube.com/watch?v=TvEdN7o7vk8" target="_blank">Foster's Beer Helmet (National)</a>
		
		<a href="http://www.youtube.com/watch?v=nPgSa9djYU8" target="_blank">Foster's Beer Social Networking (National)</a>
		
		<!--<a href="">Verizon Droid Big D (National)</a>-->
  </div>

  <div class="reel">
  	<span>Feature Films/Movies</span>
			
		<a href="http://www.youtube.com/watch?v=evOAXTsdzZg" target="_blank">The Lackey Action trailer</a>
		
		<a href="http://www.youtube.com/watch?v=4hypmr4S1eU" target="_blank">The Lackey Story Trailer</a>
		
		<a href="http://www.youtube.com/watch?v=uOraGdTFAnU" target="_blank">The Lackey: Vince's Dilemma</a>
		
		<a href="http://www.youtube.com/watch?v=Z7SQl5MIT_Q" target="_blank">The Infamous Headbutt Gone Wrong from the Lackey!</a>
	</div>
	
	<div class="reel">
		<span>Various</span>
 
		<a href="http://www.youtube.com/watch?v=Orjo5VnNwm0" target="_blank">Grundy in Action</a>

		<a href="http://www.youtube.com/watch?v=iIMRWZjib28" target="_blank">Grundy Prepping for a Fight! Pictorial Slide Show</a>

		<a href="http://www.youtube.com/watch?v=-8Ci6JpZGtA" target="_blank">Grundy Music Video from the Bodybuilding Days!</a>
	</div>
</div>
<%end%>
