

<%=content_for :main do%>

<div id="news">

	<h2>NEWS</h2>
	
	<div class="news">
		<span>June 2011</span>
		I am proud to announce that I have signed on with With William's Entertainment Management. It is a big step forward in my career and I am very excited for the future! <a href="http://www.wemanagementco.com/">http://www.wemanagementco.com/</a>.
	</div>
	
	<div class="news">
		<span>!</span>
		I currently have 3 National Foster's Beer Commercials Running! They are "Social Networking", "Free Agency" &amp; "Helmet". You can view these on my <%=link_to 'reel', reel_url%> page!
	</div>
	
	<div class="news">
		<span>!</span>
		I recently returned from a great trip back to Australia! It was the best trip which is both Business and pleasure at the same time! I caught up with Family and Friends and had me some fun!
	</div>
	
	<div class="news">
		<span>!</span>
		I meet with some Directors and Producers while in Oz, I hope to confirm some Exciting news in the near future for some up coming roles!
	</div>
	
	<div class="news">
		<img src="/images/safe_image_large.jpg" alt="Guy Grundy and Dana Carmont" />
		<span>October 2010</span>
		I was fortunate to be featured in the Sunshine Coast Daily with my partner in crime Dana Carmont! <a href="http://www.sunshinecoastdaily.com.au/story/2010/10/09/ex-street-kid-Guy-Grundy-may-get-mad-max-role/" target="_blank">Ex-street kid may get Mad Max role</a>
	</div>

	<div class="news">
		<img src="/images/grundy_fosters.jpg" alt="Guy Grundy on the set of a Foster's Beer commercial" />
		<span>September 2010</span>
		September has been a GREAT MONTH for Grundy! I booked and shot 2 National Commercial's for Foster's Beer! This is my second year in a row as the Foster's Man I am very excited &amp; proud of this! We shot in the desert in Lancaster once again, the whole day was an amazing experience as the crew and all the cast I worked with where nothing but Professional and fun, which is ALWAYS GOOD!
	</div>
	
	<div class="news">
		<span>!</span>
		I now have 4 National Commercials with Foster's! The two I just shot are "Free Agency" & "Helmet"! My previous two are "Social Networking" &amp; "Bromance"!
	</div>
	
	<div class="news">
		<span>!</span>
		I received more good News from Foster's as they are reusing my "Social Networking" commercial for a second year, which means I get paid for the use of that commercial for another entire year. I am one happy Camper!
	</div>
	
	<div class="news">
		<span>!</span>
		I am in the running for 2 Movies that are shooting back home in Australia later this year, one being Charlie's Farm and the other is MAD MAX! Yeap, MAD MAX! One of my Favorite Movies of all time! Keep your fingers crossed for Grundy on this one!
	</div>
	
	<div class="news">
		<span>!</span>
		I caught the Attention of Military &amp; Police Special Forces trainers and have since been made an official Instructor for Special Forces working with the guys and gals on Hand to Hand combat! I had my first class last Monday and it was a great experience working with the services elite! I look forward to working with Special forces more in the future!
	</div>
</div>

<%end%>
