

<%=content_for :main do%>

<div id="news">

	<div class="news">
		<span>!</span>
		Sorry for the Delay in updating what is going on in the Acting World of Grundy! My updates will be A LOT more frequent and PROFESSIONAL due to the fact that I am working with a real pro at what he does! I am Business partners with James "Numbers" Cunningham who is running a great deal of the business aspects of what we are doing together! James is well known in the health &amp; Fitness as well as the World of Acting Web Work, if your looking to get a first rate web site done or set up a Blog, Number's ( I just write # for him ) is the man for you! I highly RECOMMEND # and his team of Web developers for all your needs! For more info you can get at him via <a href="http://einherj.ar.com/">http://einherj.ar.com/</a>
	</div>

	<div class="news">
		<span>!</span>
		www.GuyGrundy.com has been totally updated and remodeled by # and the changes have made a huge difference. Hope you guys enjoy how clean and efficient the site is now!
	</div>

	<div class="news">
		<span>!</span>
		I have started <a href="http://blog.guygrundy.com/">"Grundy's Blog"</a> and the response has been OVERWHELMING to say the least! I am really Proud and Honored that so many people take the time to read my Blog, and send me such Positive feedback! If your a fan of the Deadliest Warrior you should check Grundy's Blog for my inside look at season 1 which I was heavily featured in!
	</div>

	<div class="news">
		<span>!</span>
		I am proud to announce that I will be in Season 4 of the Deadliest Warrior which starts shooting towards the end of the year! It will be good to work with the gang again! The Deadliest Warrior was the show that put me on the map in the acting World! I will always and forever be indebted to that Show for getting the Name and head of Grundy out there!
	</div>

	<div class="news">
		<span>!</span>
		I am back on set for The Lackey on the 28th of September down in Long beach. This is the MOST FUN I have ever had on set working with Shaun Piccinino who wrote, directed and stars in this Future Epic trilogy. Yes, Grundy is in the Sequel! When The Lackey is released it's a MUST SEE! Trust Grundy on this and its not just because I am in it either Ha Ha. Check out the trailer and you will understand why! <a href="http://www.youtube.com/watch?v=evOAXTsdzZg">http://www.youtube.com/watch?v=evOAXTsdzZg</a> I had a call from Picc just now, and I will be working with one of Australia's most well known and respected actors! A hint for you all, he starred along side Arnold in Commando. Man, I grew up watching this guy kick Ass on the big screen and now I may be getting my Ass kicked by him as well. Who would have thought I would be so happy to get an ass whooping!
	</div>

	<div class="news">
		<span>!</span>
		I booked my first VIDEO GAME! It's a big one too. I am the lead character for the internet and in store promotions for the remake of a well know classic game! I am unable to say the name of it at this point! I am the ASSASSIN! This may be the first Video game I actually play! I have played ATARI when i was a kid but I don't think that counts! The outfit I wear is so Cool and the gun's i use are Freaky! I am like a Kid in a candy store with this one! I will provide more info and pics when i am able! I am on set shooting this on the 22nd of August!
	</div>

	<div class="news">
		<span>!</span>
		I worked with none other Than Elmo on a National Commercial for PlaySkool! I was fortunate to work with a great mate of mine in Ron Kari! Ron is well known in the industry having worked on Son's of Anarchy as well as working with Justin Beiber on a promo for the Music awards recently! The Commercial will air in September and then be re aired during the Holiday period! Elmo and Grundy who would have thought! I will write about my crazy adventure on set with Elmo in an up coming Blog!
	</div>

	<div class="news">
		<span>!</span>
		I have some roles lined up down the road that require Specialized Military Training I worked with the Wolfpac recently on Weapons and special tactics at a Military base in Cali recently! I had the best time and learnt SO MUCH! We worked with weapons, stealth and Dramatic entries and working as a team! I am back on Base next week working in the Kill house which means I shot at targets that Pop up with room entries as well as a whole lot more. I have SO MUCH respect for what these guys do after having this experience. I want to send a HUGE thank you to Staff Sergeant Wilkins for all his help and support!
	</div>

	<div class="news">
		<span>!</span>
		I had a taped audition for the up coming Bourne Legacy! I didn't book the part but had so much fun taping this! This is Grundy's Audition taping! # did all the recording as well as being the phone voice for this. Staff Sergeant Wilkins consulted with us on how we should go about it. I was really Happy with how it came out. As I said I didn't book it but that's show business in Hollywood! <a href="http://www.youtube.com/watch?v=UxYzHnWnIqE">http://www.youtube.com/watch?v=UxYzHnWnIqE</a>
	</div>

	<div class="news">
		<span>June 2011</span>
		I am proud to announce that I have signed on with With William's Entertainment Management. It is a big step forward in my career and I am very excited for the future! <a href="http://www.wemanagementco.com/">http://www.wemanagementco.com/</a>.
	</div>
	
	<div class="news">
		<span>!</span>
		I currently have 3 National Foster's Beer Commercials Running! They are "Social Networking", "Free Agency" &amp; "Helmet". You can view these on my <%=link_to 'reel', reel_url%> page!
	</div>
	
	<div class="news">
		<span>!</span>
		I recently returned from a great trip back to Australia! It was the best trip which is both Business and pleasure at the same time! I caught up with Family and Friends and had me some fun!
	</div>
	
	<div class="news">
		<span>!</span>
		I meet with some Directors and Producers while in Oz, I hope to confirm some Exciting news in the near future for some up coming roles!
	</div>
	
	<div class="news">
		<img src="/images/safe_image_large.jpg" alt="Guy Grundy and Dana Carmont" />
		<span>October 2010</span>
		I was fortunate to be featured in the Sunshine Coast Daily with my partner in crime Dana Carmont! <a href="http://www.sunshinecoastdaily.com.au/story/2010/10/09/ex-street-kid-Guy-Grundy-may-get-mad-max-role/" target="_blank">Ex-street kid may get Mad Max role</a>
	</div>

	<div class="news">
		<img src="/images/grundy_fosters.jpg" alt="Guy Grundy on the set of a Foster's Beer commercial" />
		<span>September 2010</span>
		September has been a GREAT MONTH for Grundy! I booked and shot 2 National Commercial's for Foster's Beer! This is my second year in a row as the Foster's Man I am very excited &amp; proud of this! We shot in the desert in Lancaster once again, the whole day was an amazing experience as the crew and all the cast I worked with where nothing but Professional and fun, which is ALWAYS GOOD!
	</div>
	
	<div class="news">
		<span>!</span>
		I now have 4 National Commercials with Foster's! The two I just shot are "Free Agency" & "Helmet"! My previous two are "Social Networking" &amp; "Bromance"!
	</div>
	
	<div class="news">
		<span>!</span>
		I received more good News from Foster's as they are reusing my "Social Networking" commercial for a second year, which means I get paid for the use of that commercial for another entire year. I am one happy Camper!
	</div>
	
	<div class="news">
		<span>!</span>
		I am in the running for 2 Movies that are shooting back home in Australia later this year, one being Charlie's Farm and the other is MAD MAX! Yeap, MAD MAX! One of my Favorite Movies of all time! Keep your fingers crossed for Grundy on this one!
	</div>
	
	<div class="news">
		<span>!</span>
		I caught the Attention of Military &amp; Police Special Forces trainers and have since been made an official Instructor for Special Forces working with the guys and gals on Hand to Hand combat! I had my first class last Monday and it was a great experience working with the services elite! I look forward to working with Special forces more in the future!
	</div>
</div>

<%end%>
