<ul>
	<li><%=link_to_unless_current 'about', training_about_url%></li>
	<li>-</li>
	<li><%=link_to_unless_current 'bio', training_biography_url%></li>
	<li>-</li>
	<li><%=link_to_unless_current "resum\u00E9", training_resume_url%></li>
	<li>-</li>
	<li><%=link_to_unless_current 'contact', training_contact_url%></li>
</ul>
