<ul>
	<li><%=link_to_unless_current 'about', about_url%></li>
	<li>-</li>
	<li><%=link_to_unless_current 'bio', biography_url%></li>
	<li>-</li>
	<li><%=link_to_unless_current 'contact', contact_url%></li>
</ul>
