
<%=content_for :main do %>

<div id="resume">

	<div>
		<h4>Published Works Worldwide</h4>
		<ul>
			<li>Guy Grundy's Weight Training EBook</li>
			<li>Author with over 100 articles published worldwide</li>
			<li>Column in Musclemag International " Muscle Flashes" 3 year's</li>
		</ul>
	</div>
	
	<div>
		<h4>DVDs/Multimedia</h4>
		<ul>
			<li>Guy Grundy's Bodybuilding DVD Series</li>
			<li>Guy Grundy Barbell & Dumbell Exercise DVD</li>
		</ul>
	</div>
	
	<div>
		<h4>Published Interview's World Wide</h4>
		<ul>
			<li>Over 150 Interview's Published World Wide</li>
		</ul>
	</div>
	
	<div>
		<h4>Magazines and Covers</h4>
		<ul>
			<li>Muscle &amp; Fitness</li>
			<li>Flex</li>
			<li>Ironman</li>
			<li>Muscular Development</li>
			<li>Max Muscle</li>
			<li>Natural Muscle</li>
			<li>Kaged Muscle</li>
			<li>Australian Muscle &amp; fitness</li>
			<li>Australian Flex</li>
			<li>Australian Ironman</li>
			<li>Rx Muscle</li>
			<li>Men's health</li>
			<li>Tapout Magazine</li>
		</ul>
	</div>
	
	<div>
		<h4>Titles</h4>
		<ul>
			<li>2 x Australian National Bodybuilding Champion</li>
			<li>2 x Runner up at the World Championships in Bodybuilding</li>
			<li>Australian NSW State Bodybuilding Champion</li>
			<li>Australian Pro Show 2nd</li>
			<li>Rugby Australian Championships</li>
			<li>Randwick Rugby</li>
			<li>National Swimmer</li>
			<li>National Runner</li>
			<li>State Soccer player</li>
			<li>State Cricket Player</li>
			<li>State Rugby league player</li>
			<li>State Rugby Player</li>
		</ul>
	</div>
	
	<div>
		<h4>Network appearances</h4>
		<ul>
			<li>BBC</li>
			<li>NBC</li>
			<li>CBS</li>
			<li>ABC</li>
			<li>Spike TV</li>
			<li>Fox</li>
			<li>Bravo</li>
		</ul>
	</div>
	
	<div>
		<h4>TV &amp; Movies!</h4>
		<ul>
			<li>Louis theroux Weird Weekends Bodybuilding</li>
			<li>Simon Townsend Wonder World</li>
			<li>South African SPorts Network</li>
			<li>Deadliest Warrior</li>
			<li>Shutter Island</li>
			<li>Act of Violence</li>
			<li>Currency</li>
		</ul>
	</div>
	
	<div>
		<h4>Grundy Photography World Wide Published Pictures</h4>
		<ul>
			<li>Guy has personally taken over 1,000 pictures that have been published World wide</li>
		</ul>
	</div>
	
	<div>
		<h4>Seminar's-Tours-Exhibitions</h4>
		<ul>
			<li>Performed lectures and seminars to the LAPD on training and nutrition.</li>
			<li>Performed seminars and clinics on weight training and nutrition throughout the world including Austria, South Africa, New Zealand, Australia and the USA.</li>
			<li>Performed seminars on training and self-defense to Special Forces</li>
			<li>Official member of the Wolfpac who specialize in training in armed and unarmed combat</li>
		</ul>
	</div>
	
	<div>
		<h4>Professional Stunt Man and Fight Choreographer</h4>
		<ul>
			<li>Deadliest Warrior</li>
			<li>Acts of Violence</li>
			<li>The Lackey</li>
			<li>Verizon Commercial</li>
			<li>Fosters beer commercial</li>
		</ul>
	</div>
	
	<div>
		<h4>Trainer of Champions</h4>
		<ul>
			<li>Grundy has trained a slew on State, national and World Champions</li>
			<li>Melisa Coates Miss International</li>
			<li>Flip Du Toit South African Champion</li>
			<li>David Nelson LA Champion and US Finalist!</li>
		</ul>
	</div>
	
	<div>
		<h4>Host</h4>
		<ul>
			<li>Infinite power Workout Show</li>
			<li>NABBA State Championships Arizona</li>
			<li>NABBA USA Championships Pennsylvania</li>
		</ul>
	</div>
	
</div>

<%end%>
