

<%=content_for :main do%>

	<div id="consulting">

		Consult's with Guy Grundy & Mari Asp

		<p>
			Hey Guy's N Gal's, We are available to Consult with you on various Topics and Subjects! We have a great deal to offer you in the way of Knowledge, concepts and the secrets we have learned during our year's as a Celebrity trainer, Pro Athlete, Fight Choreographer, Stunt man, Manager's and Actor's! We are here to answer any and all of your questions pertaining to a slew of topics from MMA training through to diet, Nutrition and Supplementation and more! Some people just like to talk with us to get an idea as to who we are and what we are up to in Los Angeles!
		</p>
 
 		<p>
			This is a List of Some topic's we are qualified to cover as well as a whole lot more. Plz FEEL FREE to ask us whatever questions you like as we have ALWAYS found that honesty is the best POLICY! Well most of the time anyway :)
		</p>
 

		<p>
			Call or E-mail us to set up a Consult!
		</p>

 

Method's Used

Skype

 Phone

 Instant Messenger

If that is all you have available, or that is your preferred means of communication!

 

RATES!

30 Min Consult $75

60 Min Consult $125

 

Payment Method's

Paypal

Check

Money order

Direct Deposit

 

Area's COVERED

 

Health and Fitness Area's

T-S-F Coaching

Weight Training

Muscle building & Toning

Bodybuilding

Strength training

Power lifting

 

Nutrition

Weight and fat Loss

Nutrition & Diet

Supplementation

Nutrition Program's

Supplement Program's

 

MMA-Mixed Martial Arts

Boxing

Muay thai

Kick Boxing

Street Fighting

Woman's Self Defense

 

Acting

Understanding Hollywood

It's not what you know it's who you know!

Stunt work

Fight Choreography

How to get an agent

How to get a manager

Be seen, be heard and Book Work

Being a pro on set

Understanding the in's and out's of the business

How to do Audition's

Marketing and Promoting your self

Resumes

Reels

Websites

How to Use Face book and twitter to your advantage!

 

Children's Fitness

Training

Diet and Nutrition

 

To make a booking http://training.guygrundy.com/contact

 Can this be a Link with the word Contact that they see and this is the link it will go to!

	</div>

<%end%>
