

<%=content_for :main do%>

<div id="consulting">

	<h2>Consult with Guy Grundy or Mari Asp</h2>

	<p>
		Hey Guy's N Gal's, We are available to Consult with you on various Topics and Subjects! We have a great deal to offer you in the way of Knowledge, concepts and the secrets we have learned during our year's as a Celebrity trainer, Pro Athlete, Fight Choreographer, Stunt man, Manager's and Actor's! We are here to answer any and all of your questions pertaining to a slew of topics from MMA training through to diet, Nutrition and Supplementation and more! Some people just like to talk with us to get an idea as to who we are and what we are up to in Los Angeles!
	</p>

		<p>
		This is a List of Some topic's we are qualified to cover as well as a whole lot more. Plz FEEL FREE to ask us whatever questions you like as we have ALWAYS found that honesty is the best POLICY! Well most of the time anyway :)
	</p>

	<div class="methods">
		<ul>
			<li>
				Methods Used
				<ul>
					<li>Skype
					<li>Phone
					<li>Instant Messenger
				</ul>
			</li>
			<li>
				Payment Methods
				<ul>
					<li>Paypal
					<li>Check
					<li>Money Order
					<li>Direct Deposit
				</ul>
			</li>
			<li>
				Rates
				<ul>
					<li>30 Min Consult $75
					<li>60 Min Consult $125
				</ul>
			</li>
		</ul>
	</div>

	<div>
		<h3>Areas and Topics Covered</h3>
		<ul> 
			<li>
				Health and Fitness
				<ul>
					<li>T-S-F Coaching
					<li>Muscle Building &amp; Toning
					<li>Bodybuilding
					<li>Strength Training
					<li>Powerlifting
				</ul>
			</li>
		 
		 	<li>
				Nutrition
				<ul>
					<li>Weight and Fat Loss
					<li>Nutrition &amp; Diet
					<li>Supplementation
					<li>Nutrition Programs
					<li>Supplement Programs
				</ul>
			</li>

			<li>
				Acting
				<ul>
					<li>Understanding Hollywood
					<li>It's not what you know, it's who you know.
					<li>Stunt Work
					<li>Fight Choreography
					<li>How to get an agent.
					<li>How to get a manager.
					<li>Be seen, be heard and book work.
					<li>Being a pro on set.
					<li>Understanding the ins and outs of the business.
					<li>How to do auditions.
					<li>Marketing and promoting yourself.
					<li>Resumes
					<li>Reels
					<li>Websites
					<li>How to Use Facebook and Twitter to your advantage.
				</ul>
			</li>
		 
			<li>
				Mixed Martial Arts
				<ul>
					<li>Boxing
					<li>Muay Thai
					<li>Kick Boxing
					<li>Street Fighting
					<li>Self Defense, for men and women.
				</ul>
			</li>
		 

			<li>
				Fitness for Children
				<ul>
					<li>Training
					<li>Diet and Nutrition
				</ul>
			</li>

		 
		</ul>
	</div>

	<a href="http://training.guygrundy.com/contact">Make a booking</a>

</div>

<%end%>
