
<%=content_for :main do%>
	<div id="about">
	
		This page is under construction. Thank you for your interest. Please visit again soon! --admin
	
		
		<!--
		T-S-F Training

			Tone, Shape & Fat loss Training
			
			The Anywhere, Anytime Fitness!
			Developed by World Champion's
			Guy Grundy & Mari Asp
			
			Time Efficient Fitness- 30 Minutes twice a week for a NEW YOU!
			
			"We understand time is of the utmost importance in today's society for the working person and house wife looking to get in shape and stay in shape. That is why we have combined our specialized talent's and skill's as leader's in the field of health and Fitness and created T-S-F Training!
			
			Creator's of T-S-F Training!
			
			Guy Grundy
			Pic
			Link To Resume
			
			Mari Asp
			Pic
			Link to Resume
			
			The days of spending hour upon hour at the gym training are a thing of the past!
			
			
			Research has shown that intense, focused, specialized and directed workouts designed for specific needs and requirements are the way to achieve the look, feel and healthy lifestyle all Men and Woman are searching for!
			
			We have applied our 50 year's of Joint training expertise as a life long Professional athlete's, and World Class Trainer's to perfect a system that utilizes all muscle groups and muscle functions to create the ultimate in time Efficient workouts that are designed for the regular person looking to obtain a healthy lifestyle and healthy looking and pleasing Physique!
			
			Why this System Work's!
			
			T-S-F Training System utilizes time tested research and results from the world of health and Fitness experts and leaders in their fields! We have learnt through the work of others and that of our own personal experience as health and Fitness Specialist!
			
			 
			
			How hard must you train to see results!
			Great Question! Everyone trains at a level that they are comfortable with and as we progress with the training we work with each individual to increase the workout intensity! EACH person is different and we as Professional trainer's are aware of this! The initial sessions will be easier that expected as you will be learning the system and allowing your body to adjust to the new exercises, movements, stretching and balancing activities that are employed with our program. We cater to the Individual and will work to ensure the workouts are fun and enjoyable as no one wants to do something they don't enjoy. We make it fun and progress to each person level! In a nut shell we work within your abilities and progress from there!
			
			How does T-S-F Training Tone and shape Muscle's in such a short period?
			
			T-S-F Training system work's all your muscle groups from your shoulder's to your claves in an exercise rotation based workout! Reaching failure is the main reason why people cannot continue a workout. Our system rotates and varies all the muscle groups being used so as to enable you to go from one Muscle group to another! This enables you to continue to workout at a higher and more efficient rate. Our design concept is "while one muscle Works, the other's rest and recover"
			
			How does it Burn fat while it is toning the Muscle?
			
			You burn fat and calories as the Workout is NON-STOP, your heart rates is elevated for the duration of the workout! Statistically you burn the greatest amount of fat during an intense heart elevating workout of 30 minutes! You Burn a high amount of calories which leads to a burning of and a reduction in fat stores. Our system elevates the heart rate and maintains the level so you don't just tone and shape the muscles of the body while performing Muscle shaping and toning exercises using small Dumbbell's along with your own bodyweight! You are also burning up unwanted calories which lead's to fat stores being reduced that blur and cover you muscle tone and shape that the system is developing!
			
			Our system burns fat for 12 hours or more after it is completed!
			Another benefits of our system is once your metabolism has been stimulated it continues to burn fat more effectively for up to 12 hours or more! Which enables your body burn more fat and unwanted calories while you continue your regular day!
			
			What is the overall benefit of this style of training on Muscle toning and Fat loss
			
			
			In a Nut shell you Tone and shape muscle while increasing your balance, co-ordination and Flexibility all while burning and shedding unwanted fat! With our system of NON-STOP training for 30 minutes you are now burning fat and calories as the workout is not just a muscle toner it is also a fat burner and cardio developer. You are getting so many benefits from the system due to it design and functuality!
			
			 
			
			 
			Equipment Needed
			Set of Dumbbell's varying from 1-5lbs!
			
			
			
			Where can this system be Performed
			ANYWHERE at ANYTIME is our MOTTO! Our system can be performed any where due to its limited amount of equipment and space required! The most used locations have been the Home, Office, Beach and Park! Any location that you choose our system can be used and used effectively! this system can be used and performed in any location due to the limited amount of space and area need's to perform the Fitness Express System!
			
			T-S-F Training is the system of the future. 
		-->
	</div>
<%end%>
