

<%=content_for :main do%>
	<div id="news">

		<span>
			We have added A Consulting page using Skype, Phone or Message! This has become a huge part of our business! We never intended to add this section to our T-S-F Site, but with a growing list of clientele utilizing this service and the results we have seen with our clients using this way of communicating with us has been a blessing in disguise. We are able to work directly with people from all over the World! Mari’ has been particularly busy consulting on topics ranging from Dieting through to How to manage and set up a gym, so these Consults are an opportunity for everyone to speak directly with World and nationals Champions in their fields! Check out our consulting page for more info. Due to a high volume of Requests all Appointments must be scheduled in advance!
		</span>
 
 		<span>
			T-S-F has gone International! World Renowned Celebrity Trainer and Athlete Mari Asp has been conducting seminars and training camps, as well as implementing the training and instructor requirements for all T-S-F trainers in Norway! Mari's is considered a national treasure in her native land of the Viking’s due to her accomplishments. She is a National and World Champion in Power lifting, Fitness Competition &amp; Gymnastics! Mari has been conducting interview’s on TV, in magazines and on Radio discussing her 4th National Title in Power lifting which she recently claimed in the US, and the release of T-S-F Training Systems! Her fellow countrymen could not be more proud of Mari’s 4th national title! She arrived home to a hero’s reception!
		</span>
 
 		<span>
			Mari’s back ground has been instrumental in the designing of the T-S-F system! With Mari’s experience and accomplishments we have incorporated what we consider to be the best and most practical movements and exercises and techniques to ensure all T-S-F clients receive the best results as fast as possible, and most importantly their bodies benefit from longevity aspects of our training system! Our Goal is to have woman looking good and feeling GOOD, ALL THE TIME! That is why the core of our exercise and movements are designed to strengthen and build tendons, coordination and balance which diminish as Woman age! T-S-F is allowing the Woman to look her best NOW and maintain and build on that for the future. Looking GOOD and Feeling Good are what we strive for at T-S-F!
		</span>
 
 		<span>
			Mari is working with other famous and well known trainers in her native Norway in the hope of improving our system! We will always look to build and improve on what we have at T-S-F Training Systems, you can always do better, this is how we approach our system of training with an eye on always looking to add and improve upon what we have at present!
		</span>

	</div>
<%end%>