

<%=content_for :main do%>
	<div id="news">

		<%if false%>
		<div>
			We have added a consulting page using Skype, phone or message. This has become a huge part of our business! We never intended to add this section to our T-S-F Site, but with a growing list of clientele utilizing this service and the results we have seen with our clients using this way of communicating with us has been a blessing in disguise. We are able to work directly with people from all over the World! Mari’ has been particularly busy consulting on topics ranging from Dieting through to How to manage and set up a gym, so these Consults are an opportunity for everyone to speak directly with World and nationals Champions in their fields! Check out our consulting page for more info. Due to a high volume of Requests all Appointments must be scheduled in advance!
		</div>
 		<%end%>

 		<div>
			T-S-F has gone international! World-renowned celebrity trainer and athlete Mari Asp has been conducting seminars and training camps, as well as implementing the training and instruction requirements for all T-S-F trainers in Norway! Mari is considered a national treasure in her native land of the Vikings due to her accomplishments. She is a National and World Champion in Powerlifting, fitness competition &amp; gymnastics. Mari has been conducting interviews on TV, in magazines and on radio discussing her 4th National Title in Powerlifting, which she recently claimed in the US, and the release of T-S-F Training Systems. Her fellow countrymen could not be more proud of her. She arrived home to a hero’s reception!
		</div>
 
 		<div>
			Mari’s background has been instrumental in the designing of the T-S-F system. With Mari’s experience and accomplishments we have incorporated what we consider to be the best and most practical movements, exercises and techniques to ensure all T-S-F clients receive the best results as fast as possible, and most importantly that their bodies benefit from longevity aspects of our training system. Our goal is to have a woman looking good and feeling GOOD, ALL THE TIME! That is why the core of our exercises and movements are designed to strengthen and build tendons for coordination and balance, which diminish as a woman ages. T-S-F is allowing the woman to look her best NOW and maintain and build on that for the future. Looking good and feeling good are what we strive for at T-S-F!
		</div>
 
 		<div>
			Mari is working with other famous and well known trainers in her native Norway, in the hope of improving our system. We will always look to build and improve on what we have at T-S-F Training Systems, you can always do better, this is how we approach our system of training: with an eye on always looking to add and improve upon what we have at present!
		</div>

	</div>
<%end%>