

<%=content_for :main do%>

	<div id="rates">

		<h3>Personal Training</h3>
		<h4>One-on-One</h4>

		<div>
			1 Session - <span>$75</span>
			<p class="g">1 hour</p>
		</div>

		<div>
			10 Sessions - <span>$650</span>
			<p class="g">(~$65 per hour, 10 hours)</p>
		</div>

		<div>
			20 Sessions - <span>$1,100</span>
			<p class="g">(~$55 per hour, 20 hours)</p>
		</div>


		<h3>T-S-F Training Systems for Women</h3>
		<h4>30 minutes per session</h4>

		<div>
			1 Session - <span>$50</span>
		</div>

		<div>
			10 Sessions - <span>$450</span>
			<p class="g">(~5 Weeks of Training)</p>
		</div>

		<div>
			20 Sessions - <span>$800</span>
			<p class="g">(~10 Weeks of Training)</p>
			<p>
				This is your best bet, it allows you to save money by getting a discounted rate. You pay ONLY $40 per session, Rather than the regular $50. The MAIN reason being it allows us a good amount of time to really make changes in your body and lifestyle. We want this way of training to become a habit, and a good habit at that!
			</p>
		</div>

	</div>

<%end%>
