

<%=content_for :main do%>

	<div id="rates">

		<h3>30 minutes per session</h3>

		<div>
			Single Session - <span>$75</span>
		</div>

		<div>
			10 Sessions/5 Weeks of Training - <span>$700</span>
		</div>

		<div>
			20 Sessions/10 Weeks of Training - <span>$1,300</span>

			<p>
			This is your best bet, it allows you to save money by getting a discounted rate. You pay ONLY $65 per session, Rather than the regular $75. The MAIN reason being it allows us a good amount of time to really make changes in your body and lifestyle. We want this way of training to become a habit, and a good habit at that!
			</p>
		</div>



	</div>

<%end%>
