@font-face {
    font-family: 'ttf1942report';
    src: url('/fonts/1942_report/1942-webfont.eot');
    src: url('/fonts/1942_report/1942-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/1942_report/1942-webfont.woff') format('woff'),
         url('/fonts/1942_report/1942-webfont.ttf') format('truetype'),
         url('/fonts/1942_report/1942-webfont.svg#1942report') format('svg');
    font-weight: normal;
    font-style: normal;
}
