
div#layout { padding:10px; margin: 100px auto 80px auto; width:800px; min-height:500px; background-color:#333333; border: solid 8px #222222; }
div#layout div.content {  }

div#page-title { font-family: 'ttf1942report'; font-size:20px; color:#777777; float:left; text-transform:lowercase; width:100%; height:40px; }

div#header ul { margin-top:24px; }
div#header ul li { font-size:18px; }
div#header ul li a { font-size: 18px; }

div#about { padding:20px; }
div#about h2 { font-family:inherit; font-size:18px; }
div#about h3 { font-size:16px; font-weight:bold; }
div#about h3 em { font-weight:bold; font-style:italic; }
div#about h3.center { text-align:center; clear:none; }
div#about span { display:block; font-weight:bold; }
div#about p { margin:0 0 0 0; clear:none; }
div#about p em { font-style:italic; }
div#about div { width:auto; }
div#about div span { width:100%; }
div#about div p { margin:0 0 15px 0; clear:none; font-weight:normal; }
div#about span.quote { margin:15px; padding:5px; background-color: #222222; border:solid 1px #444444; text-align:center; font-weight:normal; font-style:italic; font-size:13px; }
div#about div.q { margin-bottom:5px; padding:10px; }
div#about div.q span { }
div#about div.q span:hover { color:#9F0002; cursor:pointer; }
div#about div.q p { font-weight:normal; }
div#about div.creators { text-align:center; float:right; clear:none; }
div#about div.creators img { height:220px; }
div#about div.creators div { width: auto; float:left; height:230px; padding:30px; margin:10px 0 0 40px; background-color:#444444; clear:none; }
div#about div.creators div h2 { font-size:16px; }
div#about div.creators div h2 a { text-decoration:none; }
div#about div.youtube { float:right; height:250px; padding:10px; background-color:#444444; }

div#contact { padding:20px; text-align:center; }
div#contact p { margin:70px auto 20px auto; }
div#contact a { display:inline-block; width: 70px; height:70px; margin:10px; }
div#contact a:hover { background-color:#393939; }
div#contact a img { width:60px; height:60px; margin:5px; text-align:center; vertical-align:middle; }

div#bio { padding:20px; }
div#bio div.body div { min-height:140px; padding:10px 0 10px 0; }
div#bio div.body div a { float:left; height:150px; padding:0 10px 0 10px; }
div#bio div.body div a img { height:140px; }
div#bio div.body div a.right { float:right; }

div#resume { padding:20px; }
div#resume div { margin:0 0 20px 0; }
div#resume div h4 { font-weight:bold; font-size:14px; }
div#resume div ul { }
div#resume div ul li { list-style:disc outside; margin:0 0 0 15px; }

div#rates { padding:20px; }
div#rates h3 { font-size:16px; font-weight:bold; }
div#rates h4 { font-size:15px; font-weight:bold; }
div#rates div { margin:20px 0 20px 0; }
div#rates div span { font-weight:bold; }
div#rates div p { padding: 10px; border-left: solid 1px #2B2B2B;  }
div#rates div p.g { color:#777777; }

div#news { padding:20px; }
div#news div { padding:0 0 20px 0; }
div#news div span { }

div#consulting { padding:20px; }
div#consulting h2 { font-family:inherit; font-size:18px; }
div#consulting h3 { font-size:16px; font-weight:bold; padding:10px 0 10px 0;}
div#consulting p { margin:0 0 0 0; }
div#consulting p span { font-weight:bold; display:block; }
div#consulting a { display:block; clear:both; text-align:center; margin:10px; font-weight:bold;}
div#consulting div { margin:20px; clear:both; }
div#consulting div ul { margin:10px; }
div#consulting div ul li { display:inline; width:50%; float:left; font-weight:bold; }
div#consulting div.methods ul li { width:32%; }
div#consulting div ul li ul { width:100%; font-weight:normal; }
div#consulting div ul li ul li { display:block; float:none; width:100%; font-weight:normal;}
div#consulting div.methods ul li ul li{ width:100%; }
