
div#header { position:fixed; top:0; left:0; width:100%; background-color:#333333; border-bottom:solid 4px #222222; }
div#header div#logo { float:left; color:#9F0002; }
div#header div#logo h1 { font-size: 45px; }
div#header ul { float:right; margin: 20px 10px 0 0; }
div#header ul li { float:left; margin:0 3px 0 3px; font-family:'ttf1942report'; font-size:20px; color:#777777; }
div#header ul li a { font-family: 'ttf1942report'; font-size: 20px; text-decoration:none; /*color:#9F0002;*/ }

div#social { position:fixed; left:0; top:50%; margin-top:-153px; width:80px; text-align:center; }
div#social div { margin:10px auto 10px auto; }
div#social div#g-plus { padding-left:3px; }
div#social div#fb-counter { padding-left:7px; }

div#layout { padding:0; margin: 46px auto 29px auto; width:800px; background-color:#333333; border-left: solid 4px #222222; border-right:solid 4px #222222; }
div#layout div.content {  }

div#contact { }
div#contact a { display:inline-block; width: 70px; height:70px; }
div#contact a img { width:60px; height:60px; margin:5px; text-align:center; vertical-align:middle; }

div#bio { padding:20px; }
div#bio div.body div { min-height:150px; }
div#bio div.body div a { float:left; height:150px; padding:0 10px 0 10px; }
div#bio div.body div a img { height:140px; }
div#bio div.body div a.right { float:right; }
