
/*
div#logo, div#logo h1 a{ font-family: ttf1942report; color: #999999; text-decoration:none; }
div#logo h1 { font-size: 55px; }
*/

h2 { font-family:Verdana }

div#main { padding: 30px 0 10px 0; font-size:15px; }
div#main div {  }
div#main div h2 { font-weight: bold; color: #9F0002; font-size: 25px; font-weight: normal; margin: 0 0 10px 0; }
div#main div div {  }
div#main span { color: #9F0002; font-weight: bold; }
div#main span.white { color: #FFFFFF; }

div#about { padding-left: 300px; }
div#about div.left { margin-left:-300px; width:300px; }
div#about img { width: 270px; height: 375px; }
div#about p { line-height: 150%; margin:0 0 10px 0;}

div#news div.news { margin:0 0 10px 10px; clear: both; width: 100%; min-height:40px; }
div#news div.news img { float:right; padding: 10px; width:130px; }
div#news div.news img.left { float:left; }

div#reel div.reel { margin:0 0 40px 10px; }
div#reel div.reel span { float:left; }
div#reel div.reel a { display:block; clear:right; margin-left: 200px; }

div#biography div { margin:0 0 20px 10px; clear:both; padding: 10px 0 0 0; }
div#biography div img { float: left; margin: 0 30px 0 30px; }
div#biography div img.right { float: right; }

div#resume div { margin:0 0 40px 10px; }
div#resume div span { float:left; }
div#resume div p { display:block; clear:right; margin-left: 200px; }

div#photos div { margin:0 0 40 10px; }
div#photos div span {  }
div#photos div a { display:inline; float:left; }
div#photos div a img { height:100px; margin:7px 7px 7px 7px; vertical-align:top; border:solid 1px transparent;}
div#photos div a img:hover { border-bottom:solid 1px #333333; border-right: solid 1px #333333; }

div#contact { height: 400px; }

