<div id="browser-compat">
	<!--[if lt IE 8]>
		<div class="flash_notice">Your version of Internet Explorer is outdated! It may not display this website properly. Please <a href="http://www.beautyoftheweb.com/">update it</a>.</div>
	<![endif]-->
</div>
