<div id="footer">
	<div class="copyright">
		&#169;2011 
		<%if DateTime.now.year > 2011%>
			- <%=DateTime.now.year%>
		<%end%>
		Guy Grundy Inc.
	</div>
	
	<div class="ehj">
		built by <%=link_to 'einherj.ar.com', 'http://einherj.ar.com/'%>
	</div>
	
	<%if request.subdomain != 'training'%>
	
	<div class="fb">
		<a href="https://www.facebook.com/profile.php?id=833653760" target="_blank">
			<img src="/images/icons/facebook.png" alt="Guy Grundy on Facebook" />
		</a>
	</div>
	
	<div class="tw">
		<a href="https://twitter.com/guy_grundy" target="_blank">
			<img src="/images/icons/twitter.png" alt="Guy Grundy on Twitter" />
		</a>
	</div>
	
	<div class="g">
		<g:plusone size="small" count="false"></g:plusone>
		<%#=<img src="/images/icons/google.png" alt="+1 this page on Google" />%>
	</div>
	
	<%end%>
</div>
