<div id="logo">
	<h1>
		<%=link_to 'Guy Grundy ', root_url%>
		
		<%if request.subdomain=='www'%>
			<%=link_to 'Acting', root_url, :class=>"red"%>
		<%else%>
			<%=link_to "#{request.subdomain.capitalize}", root_url, :class=>"red"%>
		<%end%>
		
	</h1>
</div>
