
<%=content_for :main do%>
<div id="biography">
	<div>
		<span class="white">Full Name:</span> <span>Guy Anthony Grundy</span><br/>
		<span class="white">DOB:</span> <span>9 July 1970</span><br/>
		<span class="white">Home Town:</span> <span>Penrith NSW Australia</span><br/>
	</div>
	
	<div>
		<img src="/images/bodybuilding7.jpg" alt="Guy Grundy bodybuilding bicep flex"/>
		Guy Grundy was born in Penrith just out side of Sydney, Australia July 9, 1970.  His upbringing was different, to say the least. From the time that he was born he was passed around like a Football between friends and family members due to parental neglect. He suffered from malnutrition during his youth while being unable to read or write at the age of 13.
	</div>
	
	<div>
		<img src="/images/bodybuilding8.bmp" alt="Guy Grundy bodybuilding pose" class="right" />
		At the age of 12 while walking through the famed George street Cinema's one night, Grundy caught a glimpse of Arnold Schwarzenegger on the poster for the Terminator and right then and there he stopped and while staring at that picture in awe said to his mate!' That's what I am going to be when I grow up" Since that day a passion for Action, Muscle and Hollywood was born in the young Grundy
	</div>
	
	<div>
		<img src="/images/dvd.jpg" alt="Guy Grundy barbell and dumbbell exercise DVD" />
		Grundy knew little of his father but did know he was a muscular Boxer and a very good one at that. Knowing this of his father gave him some direction as to who he was and who he wanted to be. From the age of 9 Grundy started training with weights to build his muscles and started learning the art of boxing and other fighting styles, a practice he maintains to this day! <a href="http://www.youtube.com/mrguygrundy" target="_blank">http://www.youtube.com/mrguygrundy</a>
	</div>
	
	<div>
		<img src="/images/fosters_commercial_image.jpg" alt="Guy Grundy in a Foster's Beer commercial" class="right" />
		At 16 years of age Guy was homeless and living on the streets of Sydney. He endured many challenges during this time and grew up fast due to his environment. Living on the streets opened his eyes to what people will do when they are desperate and this had an affect on Grundy. It strengthened his will to succeed no matter the obstacles.
	</div>
	
	<div>
		<img src="/images/dealiest_warrior.jpg" alt="Guy Grundy in The Deadliest Warrior" />
		Grundy is a natural athlete, representing at State, National and the International level in 7 sports.  Sports were a saving grace for Grundy as he found direction and stability while competing, which was a rare commodity for him at this stage of his life.
	</div>
	
	<div>
		At the age of 19 Grundy focused his attention on Bodybuilding and would soon become a 2 time Mr. Australia Bodybuilding Champion and would then place second at the World Championships on his first effort at the title.
	</div>
	
	<div>
		During his career as a professional Bodybuilder, Grundy travelled the world doing Seminars on training and Nutrition and with his liking for the lime light and the attention found many opportunities where available to him in the world of Fitness. He has appeared in a slew of health and Fitness related shows, programs, Videos and DVDs in the US and abroad!
	</div>
	
	<div>
		Considering Guy was unable to read or write at 13 it is testament to his drive and willingness to learn that he has since had over 100 articles published, Produced 2 Health and Fitness DVDs and has appeared in all the major Health and Fitness Magazines World Wide.
	</div>
	
	<div>
		A Proud moment arrived when Grundy was awarded his US Citizenship as a person of Extraordinary ability. Being a Dual Citizen of Australia and America is a highlight for Grundy, as he grew up watching American TV and dreamed of the day he would be in the land of Opportunity.
	</div>

	<div>
		Grundy is now realizing his dream of working in Film and has had success in a short period of time! His big break came when he landed the lead role as the Gladiator in <a href="http://www.youtube.com/watch?v=wGY6k1iSlYY" target="_blank">Spike TV's "The Deadliest Warrior"</a>. From this point on Grundy threw him self into acting full force and has become the Foster's Beer Guy for their last two ad campaigns.  His recently appeared in the award winning CSI New York and his latest project is a feature film titled <a href="http://www.youtube.com/watch?v=uOraGdTFAnU" target="_blank">The Lackey</a>.
	</div>
	
	<div>
		Grundy is liked and respected by those that know him, his easy going nature and fun loving personality make him a pleasurable person to be around. He has been quoted as saying "We all get knocked on our ass! That doesn't matter, what does matter is that you get back up! Failure is life's way of testing how bad we want something!"
	</div>
	
	<div>
		Chase your dreams, because they are there to be attained!
	</div>
</div>
<%end%>
