

<p>For as long as I can remember I have had an interest in weight training, health, and fitness. My desire to be fit and muscular developed at a young age. 
My father and mother split-up when I was only two years old. All I knew about my father was that he was a very good boxer. Every boy wants to be like his father 
and I was no different. I think that because he was not in my life while I was growing up, I wanted to be like him even more! My greatest wish at that time was for 
my father to be proud of me when he finally met his "little man". I thought he was not with me because I had done something wrong or disappointed him. That was 
how my desire developed. I have always said that my insecurities have made me the man I am today, and I've never had a problem admitting it. I was an extremely 
small, skinny child growing up. I HATED it with a passion! All I had to go on was that my father was a boxer, which to me meant that he was fit, muscular, and 
could fight. I took that vision and have trained my whole life to attain it. I have been weight training since I was nine years of age! Everyday I was consumed 
with growing bigger and better, and that drive never diminished as I matured.</p>
<p>One of the most impactful events that reaffirmed who I wanted to be and how I wanted to be looked at by others took place at a surf carnival in Australia. 
This is where athletes compete against each other in beach sports, including running, swimming and rowing. I was 11 at the time and there was this one guy who 
must have been about 20. He was built like a bodybuilder and was easily the most athletic guy at the meet. He competed in every event and won all of them. I 
looked at him with so much admiration and awe. The way everyone looked at him as he walked past was something I will never forget. From that day onward, I said 
to myself, "That is how people are going to look at Grundy!" I wanted that respect and admiration with all of my heart. I wanted to be him. That is the 
one-and-only time in my life that I wanted to be someone other than Grundy! He had such an impact on me that day and it will stay with me until I am in the grave!</p>
<p>I wanted to stand out and motivate people just as he did. He looked so cool in my young eyes, just casually walking along doing his thing without trying 
to show-off. He had charisma and I wanted that type of recognition. I had never seen anything like it. I never knew his name and I never saw him again, but 
he gave me a direction to take my life at a young age. From that day on, I had a goal to attain and nothing would get in my way.</p>
<p>During my growth as a trainer and individual I have trained with every type of athlete you can imagine: rugby players, swimmers, runners, sprinters, 
decathletes, soccer players, surfers, boxers, kickboxers, mixed martial artists, and bodybuilders just to name a few. You name the style of training and 
discipline and I have done it! I trained with these athletes and I would eventually train others once my skills grew.</p>
<p>My knowledge, strength, and experience as a professional trainer has come via my own, personal trial and error in the gym. I am not one of those trainers, 
or so-called "experts", who obtained their knowledge through courses, manuals, or books. Sure, I have done all of those things too but they mean very little 
when compared to what I have gained through my own, learning experiences. "Book smart" means very little in the real world when it comes to training people. 
Books do not teach you how to feel the muscle, nor how to understand that each person is different and has different needs. Books can't educate you on how to 
relate to each person in a way that helps them understand how to train their bodies.</p>
<p>Two individuals may have the same goals, but each will need a different and personalized approach to achieving them. The reason is simple: we are all 
different. Different body types, different body shapes, different focuses, and mental strengths are all variables that books and courses cannot teach you. 
You can read a book on weight training and technique, but if you don't train yourself, how can you push someone to their maximum potential when you have not 
experienced it for yourself? I am all for learning and educating one's self, but you have to learn through doing and NOT by reading or taking a course that 
explains it. You have to live and breath it in the gym to earn the right to call your self a professional trainer.</p>
<p>I have done seminars, appearances, and clinics all over the world. Everyone asks what the secret is to getting results and obtaining the level of fitness 
and body they are after. My answer is consistency. For those who want to teach and train, it is a life long pursuit. Think about this when you work with a 
trainer. Do they look the part? If they don't, get someone that does. This shows that they have learned capability and consistency through their own 
experiences which is integral to being a successful, professional trainer.</p>
