

<%=content_for :main do%>

<div id="resume">

	<div>
		<span>Guy Grundy</span>
		<p>Hair: Light Brown
		<p>Eyes: Blue
		<p>Height: 6'0"
		<p>Weight: 230 lbs
		<p><a href="http://www.youtube.com/watch?v=roB9lws8u18" target="_blank">"Guy Grundy" Acting Reel</a>
	</div>

	<div>
		<span>TV</span>
		<p>CSI New York
		<p>Simon Townsend’s Wonder World Bodybuilder ABC
		<p>Louis Theroux BBC
		<p>South African Sports
		<p>Deadliest Warrior
	</div>

	<div>
		<span>FEATURE FILMS</span>
		<p>Acts of Violence
		<p>Shutter Island
		<p>Starsky and Hutch
		<p>The Lackey
		<p>Currency
	</div>

	<div>
		<span>COMMERCIALS</span>
		<p>Verizon Droid National
		<p>Pepsi Cola National
		<p>AT&amp;T National
		<p>2 National, Cable and Internet Foster's Beer
		<p>1 National, cable and Internet Frequent Flyer
	</div>
 
	<div>
		<span>STUNT WORK</span>
		<p>CSI New York
		<p>Deadliest Warrior
		<p>National Frequent Flyer Commercial
		<p>The Lackey
		<p>Foster’s Commercial Bromance
		<p>Acts of Violence
	</div>

	<div>
		<span>CORPORATE FILMS</span>
		<p>Crackle Presents Todd Roy Sony Pictures		
	</div>
</div>

<%end%>
