<div id="footer">
	<div class="copyright">
		&#169;2011 
		<%if DateTime.now.year > 2011%>
			- <%=DateTime.now.year%>
		<%end%>
		GuyGrundy.com
	</div>
	<div class="rss">
		<%#=link_to 'RSS', rss_url%>
	</div>
</div>